.accessoriesContainer{
  width: auto;
  margin: 0 3%;
  padding: 20px;
  text-align: center;
}
.heading {
  font-size: 2.5rem;
  color: #333;
}

.container{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid red;
}
.accessories{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;
  gap: 5px;
  padding: 4%;
  width: 100%;
  height: 100%;
}
.accessory{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.accessory div{
    width: 100%;
}
.accessory div> h2{
   font-size: 15px;
}
.detail{
    padding-bottom: 10%;
    background-color: white;
    border-radius: 0 0 15px 15px;
}
.accessory div> img{
    width: 100%;
    height: 100%;
}

.orderBtn{
    margin: 0 25px;
    position: relative;
    text-decoration: none;
    color: rgb(247, 247, 247);;
    transition: color 0.3s;
    width: 40%;
    background-color: #9d6fe2;
    padding: 4%;
    border-radius: 15px;
    text-align: center;
    
}


@media screen and (max-width: 768px){
  .container{
    margin: 0;
padding: 0;
  }
  .accessories{
    display: grid;
    grid-template-columns: repeat( 2, minmax(250px, 1fr) );
   width: 100%; 
   border: 1px solid red;
  }

  .accessory{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    border: 1px solid red;
}
}






