
.jumbotron {
    background-image: url('/img/catalogJumbo.jpg');
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 0 20px;
    z-index: -1;
}

.content {
    max-width: 800px;
}

.title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.categoryContainer {
  width: auto;
  /* max-width: 900px; */
  margin: 0 3%;
  padding: 20px;
  text-align: center;
}

.heading {
  font-size: 2.5rem;
  color: #333;
}

.backButton{
  display: flex;
  justify-content: center;
  align-items: center;
    margin: 1em 2rem;
    position: fixed;
    left: 10;
    right: 0;
    color: rgb(247, 247, 247);;
    transition: color 0.3s;
    width: 50px;
    height: 50px;
    background-color: #9d6fe2;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  margin-top: 30px;
}

.categoryWrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    gap: 25px;
    padding: auto;
    margin-bottom: 5%;

}
.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 50%;
    height: 16em;
    color: white;
    text-align: center;
    background-color: #2e2e2e;
    background-blend-mode: soft-light;
    cursor: pointer;
}
.category:hover{
    scale:  1.05;
    transition: all 0.4s ease-in-out;
}

.categoryHeading {
  font-size: 1.5rem;
  color: #666;
}

.categoryList {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.categoryItem {
  margin-bottom: 10px;
}

.categoryLink {
  text-decoration: none;
  font-size: 1.2rem;
  color: #007bff;
  transition: color 0.3s ease;
}

.categoryLink:hover {
  color: #0056b3;
}

/* stylee for iddivi8dual caategory */

.container{
  width: auto;
  margin: 0 3%;
  padding: 0px;
  text-align: center;
}
.heading {
  font-size: 2.5rem;
  color: #333;
}

.categoryContent{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.itemsInCategoryWrap{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;
  gap: 5px;
  padding: 4%;
  width: 100%;
  height: 100%;
}
.itemInCategory{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.itemInCategory div{
    width: 100%;
}
.itemInCategory div> h2{
   font-size: 15px;
}
.itemInCategory img, .itemInCategory video {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.detail{
    padding-bottom: 10%;
    background-color: white;
    border-radius: 0 0 15px 15px;
}
.itemInCategory div> img, .itemInCategory div> video {
    width: 100%;
    height: 300px;
}

.orderBtn{
    margin: 0 25px;
    position: relative;
    text-decoration: none;
    color: rgb(247, 247, 247);;
    transition: color 0.3s;
    width: 40%;
    background-color: #9d6fe2;
    padding: 4%;
    border: none;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    
}










@media screen and (max-width: 768px){
    .categoryWrap{
    flex-direction: column;
    justify-content: center;
    width: 100%;
    }
    .category{
        width: 100%;
    }
    .category:hover{
    scale:unset;
    transform: unset;
}

/*  */


  .itemsInCategoryWrap{
    display: grid;
    grid-template-columns: repeat( 1, minmax(250px, 1fr) );
   width: 100%; 
  }

  .itemInCategory{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    width: 100%;
}
}