/* Header.module.css */
.header {
    /* background-color: rgb(247, 247, 247); */
    background: transparent;
    color: white;
    padding: 0px 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
.scrolledHeader {
    background-color: white; 
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}
.logoBg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 40px;
    margin-top: 4px;
    padding: 0;
}

.logoImage {
    margin-right: 10px;
    border-radius: 50%;
}

.nav {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* space-x-4; */
    gap: 25px;
    width: 50%;
   

}

.navLink {
    margin: 0 5px;
    position: relative;
    text-decoration: none;
    color: rgb(247, 247, 247);;
    transition: color 0.3s;
    background: none; 
    width: 100%;
    text-align: center;
}
.navLinkDark {
    margin: 0 5px;
    position: relative;
    text-decoration: none;
    color: rgb(51, 51, 51);
    transition: color 0.3s;
    background: none;
    width: 100%;
    text-align: center;
    
}
.contactUsButton{
    margin: 0 5px;
    position: relative;
    text-decoration: none;
    color: rgb(247, 247, 247);;
    transition: color 0.3s;
    width: 100%;
    background-color: #9d6fe2;
    padding: 2% 1%;
    border-radius: 15px;
    text-align: center;
}
.contactUsButton:hover{
    background-color: theme('colors.secondary.DEFAULT');
}
.activeContact{
    background-color: theme('colors.secondary.DEFAULT');
}

.navLinkDark:hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background-color: #9d6fe2; 
}
.navLink:hover::after{
        content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background-color: #ffffff; 

}
.productServicesId{
    width: 80% !important;
    padding: 2%;
    border: 1px solid red;
}

.active{
     border-bottom: 3px solid theme('colors.primary.light');
}

.dropdown {
    position: relative;
}

.dropdownMenu {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: white;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdownItem {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: black;
}

.dropdownItem:hover {
    background-color: #9d6fe2; /* Neon color for hover */
}

.mobileToggle {
    display: none;
}

.menuButton {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}


.mobileMenu {
    display: none;
}

@media screen and (max-width: 768px) {
    .nav {
        display: none;
    }
    .logoImage {
        margin-right: -5px;
    }
    .mobileToggle {
        display: block;
        
    }

    .mobileMenu {
        display: block;
        background-color: black;
        color: white;
        padding: 10px;
        margin-bottom: 15px;
    }

    .mobileLink {
        display: block;
       border: none;
       width: 100%;
        padding: 10px 5px;
        color: white;
        text-decoration: none;
        background-color: transparent;
    }

    .mobileLink:hover {
        background-color: #9d6fe2; /* Neon color for hover */
    }
}
